.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info{
    padding-left: 20px;

}
.product__remove{
    background: #f0c14b;
    border:1px solid ;
    margin-top: 10px;
    color: black;
    
}
.product__remove:hover{
    background:rgb(204, 200, 200);
    border-radius: 2px;
    border:2px solid;
    margin-top: 10px;
    border-color: black;
    color: #111;
}


.checkoutProduct__image{

    object-fit: contain;
    width: 180px;
    height: 180px;

}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}